#### with docker
SECRET_KEY = 'etfwtgewryhgrtyuhrtyuijrtyikrwi41htr49y8hr'
DEBUG = True 

#### optional
SMTP      
EMAIL_BACKEND = ''
EMAIL_HOST = '' 
EMAIL_PORT =    
EMAIL_USE_TLS = True  
EMAIL_HOST_USER = '' 
EMAIL_HOST_PASSWORD = '=' 
DEFAULT_FROM_EMAIL = ' '   
SERVER_EMAIL = ' ' 