APP_NAME='django_template'
APP_DESCRIPTION='Ejemplo de proyecto Django'
SECRET_KEY=''
DEBUG=True 

PROTOCOL='http'
MAIN_DOMAIN='localhost'

DJANGO_APP_PORT='8080'
NGINX_APP_PORT='80'
REDIS_PORT='6379'
PSQL_PORT='5432'

PSQL_ENGINE='django.db.backends.postgresql'
PSQL_NAME='template_db'
PSQL_USER='template_user'
PSQL_PASSWORD='template_password'
PSQL_LOCALE='es_MX.UTF-8'
PSQL_HOST='localhost'
TZ='America/Chihuahua'
LANGUAGE_CODE='es-mx'

EMAIL_BACKEND=''
EMAIL_HOST='' 
EMAIL_PORT=''   
EMAIL_USE_TLS=True  
EMAIL_HOST_USER='' 
EMAIL_HOST_PASSWORD='' 
DEFAULT_FROM_EMAIL=''   
SERVER_EMAIL='' 