{% extends "shop/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}{% trans "User Settings" %}{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-2">
        <div class="accordion" id="accordion-user-settings-menu">
            <div class="accordion-item">
              <h2 class="accordion-header" id="accordion-user-settings-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-user-settings-collapseOne" aria-expanded="true" aria-controls="accordion-user-settings-collapseOne">
                    <h6 class="m-0">{% trans "Main connections" %}</h6>

                </button>
              </h2>
              <div id="accordion-user-settings-collapseOne" class="accordion-collapse collapse show" aria-labelledby="accordion-user-settings-headingOne">
                <div class="accordion-body">
                    <div class="nav flex-column nav-pills me-3" id="tab" role="tablist" aria-orientation="vertical">
                        <a class="list-item pe-auto link-dark text-decoration-none mb-2 active" id="general-info-tab" data-bs-toggle="pill" data-bs-target="#general-info"  role="tab" aria-controls="general-info" aria-selected="false"><i class="fa-solid fa-user me-2"></i> {% trans 'General Information' %}</button>
                      <a class="list-item pe-auto link-dark text-decoration-none mb-2" id="app-preferences-tab" data-bs-toggle="pill" data-bs-target="#app-preferences"  role="tab" aria-controls="app-preferences" aria-selected="true"><i class="fa-solid fa-gears me-2"></i> {% trans "App Preferences" %}</button>
                      <a class="list-item pe-auto link-dark text-decoration-none mb-2" id="connections-tab" data-bs-toggle="pill" data-bs-target="#connections"  role="tab" aria-controls="connections" aria-selected="false"><i class="fa-solid fa-circle-nodes me-2"></i> {% trans 'Connections' %}</button>
                      <a class="list-item pe-auto link-dark text-decoration-none mb-2" id="addresses-tab" data-bs-toggle="pill" data-bs-target="#addresses"  role="tab" aria-controls="addresses" aria-selected="false"><i class="fa-solid fa-map-location me-2"></i> {% trans 'Addresses' %}</button>
                      <a class="list-item pe-auto link-dark text-decoration-none mb-2" id="privacy-tab" data-bs-toggle="pill" data-bs-target="#privacy"  role="tab" aria-controls="privacy" aria-selected="false"><i class="fa-solid fa-user-shield me-2"></i> {% trans 'Privacy' %}</button>
                      <a class="list-item pe-auto link-dark text-decoration-none mb-2" id="security-tab" data-bs-toggle="pill" data-bs-target="#security"  role="tab" aria-controls="security" aria-selected="false"> <i class="fa-solid fa-key me-2"></i> {% trans 'Security' %}</button>
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="accordion-user-settings-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-user-settings-collapseTwo" aria-expanded="false" aria-controls="accordion-user-settings-collapseTwo">
             
                    <h6 class="m-0">{% trans "Company connections" %}</h6>
                </button>
              </h2>
              <div id="accordion-user-settings-collapseTwo" class="accordion-collapse collapse" aria-labelledby="accordion-user-settings-headingTwo">
                <div class="accordion-body">
                    
                <div class="list-group">
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i class="fa-solid fa-gears me-2"></i> {% trans "App Preferences" %}</a>
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i
                            class="fa-solid fa-user me-2"></i> {% trans "General Information" %}</a>
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i
                            class="fa-solid fa-circle-nodes me-2"></i> {% trans "Connections" %}</a>
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i
                            class="fa-solid fa-map-location me-2"></i></i> {% trans "Addresses" %}</a>
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i
                            class="fa-solid fa-user-shield me-2"></i> {% trans "Privacy" %}</a>
                    <a href="" class="list-item link-dark text-decoration-none mb-2"><i
                            class="fa-solid fa-key me-2"></i> {% trans "Security" %}</a>
                </div>
                </div>
              </div>
            </div>
          </div>
    </div>



    <div class="col col-md-10 mx-auto   ">
        <div class="tab-content" id="tabContent">
            <div class="tab-pane fade show active" id="general-info" role="tabpanel" aria-labelledby="general-info-tab" tabindex="0">

                <div class="container-fluid rounded position-relative mb-4" id="user-settings-wallpaper">
                    <span class="position-absolute bottom-0">
                        <div class="container bg-warning rounded-top" id="user-settings-avatar">
                        </div>
                    </span>
                </div>
                <div class="card border-0 shadow-fire-1 mb-4" id="user-settings-header">
                    <div class="card-body">
                        <div class="container-fluid my-4">
                            <div class="row">
                                <h4>{% trans "Personal Info" %}</h5>
                            </div>
                            <hr>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Name"%}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Jorge">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Middle Name" %}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Arturo">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Father Lastname" %}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Sáenz">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Mother Lastname" %}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Sánchez">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-fire-1 mb-4" id="user-settings-header">
                    <div class="card-body">
                        <div class="container-fluid my-4">
                            <div class="row">
                                <h4>{% trans "User Configuration" %}</h5>
                            </div>
                            <hr>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-4 col-form-label"><strong>{% trans "Username"%}</strong></label>
                                        <div class="col-sm-8 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Jorge">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <div class="form-check form-switch  mt-auto">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">{% trans "Low exposure connections" %}</label>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Father Lastname" %}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Sáenz">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <label for="name" class="col-sm-3 col-form-label"><strong>{% trans "Mother Lastname" %}</strong></label>
                                        <div class="col-sm-9 d-flex align-items-center">
                                            <input type="text" readonly class="form-control-plaintext" id="name" value="Sánchez">
                                            <a href="">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        
            </div>
            <div class="tab-pane fade" id="app-preferences" role="tabpanel" aria-labelledby="app-preferences-tab" tabindex="0">
                Hi
            </div>
            <div class="tab-pane fade" id="connections" role="tabpanel" aria-labelledby="connections-tab" tabindex="0">
                3
            </div>
            <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab" tabindex="0">
                4
            </div>
            <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab" tabindex="0">
                5
            </div>
            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab" tabindex="0">
                6
            </div>

        </div>
    </div>
</div>
{% endblock content %}